.main {
    background-color: #43e8be;
    position: fixed;
    width: 100%;
    height: 100%;
  }
  .Livros {
    margin: 30px;
    background-color: #ffffff;
    position: fixed;
    height: 100%;
    width: 96%;
    h1 {
      padding: 10px;
      font-style: normal;
      font-weight: 700;
      font-size: 40px;
      color: #8239f2;
    }
    .section{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin-bottom: 30px;
    }
  }